<%= stylesheet_link_tag "/css/table", :media => "all" %>

<div style="width:600px">
<div class="well">
<h2><%= @question.title %></h2>  
<% if @question.text!="" %>
  <p class="well2"><%= @question.text %></p>
	
<% end %>
<dl>
  <dt>作成者</dt><dd><%= @questioner.username  %>さん (<%= @question.created_at.to_s[0..15]%>) </dd>     
  <dt>カテゴリー</dt><dd><%= @category.name %></dd>
</dl>
</div>

<%#*<div class="well2" style="width:600px;"><h2 style="text-align: center">皆の回答</h3></div>%>

<h3 class="well2"><%= link_to '→次の質問に答える', '/answers/index' %></h3> 


<div id="chartDiv1" style="width:600px; height:400px;"></div>


  <script>

<% if @nameOfOption5 != nil %>
  
    document.write('<tr>',
    '<th scope="col" abbr="Configurations" class="nobg">選択</th>',
    '<th scope="col" abbr="全体人数">全体人数</th>',
    '<th scope="col" abbr="男子人数">男子人数</th>',
    ' <th scope="col" abbr="女子人数">女子人数</th>',
    ' </tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択1" class="spec"><%= @nameOfOption1.string %></th>',
    '<td><%= @option1.count %></td>',
    '<td><%= @maleOption1.count %></td>',
    '<td><%= @femaleOption1.count %></td>',
    '</tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択2" class="specalt"><%= @nameOfOption2.string %></th>',
    '<td class="alt"><%= @option2.count %></td>',
    '<td class="alt"><%= @maleOption2.count %></td>',
    '<td class="alt"><%= @femaleOption2.count %></td>',
    '</tr>');
        
    document.write('<tr>',
    '<th scope="row" abbr="選択３" class="spec"><%= @nameOfOption3.string %></th>',
    '<td><%= @option3.count %></td>',
    '<td><%= @maleOption3.count %></td>',
    '<td><%= @femaleOption3.count %></td>',
    '</tr>');
        
    document.write('<tr>',
    '<th scope="row" abbr="選択4" class="specalt"><%= @nameOfOption4.string %></th>',
    '<td class="alt"><%= @option4.count %></td>',
    '<td class="alt"><%= @maleOption4.count %></td>',
    '<td class="alt"><%= @femaleOption4.count %></td>',
    '</tr>');
        
    document.write('<tr>',
    '<th scope="row" abbr="選択5" class="spec"><%= @nameOfOption5.string %></th>',
    '<td><%= @option5.count %></td>',
    '<td><%= @maleOption5.count %></td>',
    '<td><%= @femaleOption5.count %></td>',
    '</tr>');
  
    document.write('</table>');

<% elsif @nameOfOption4 != nil %>

    document.write('<table id="mytable" cellspacing="0" summary="質問の結果">',
    '<caption>質問の結果 </caption>');
    document.write('<tr>',
    '<th scope="col" abbr="Configurations" class="nobg">選択</th>',
    '<th scope="col" abbr="全体人数">全体人数</th>',
    '<th scope="col" abbr="男子人数">男子人数</th>',
    ' <th scope="col" abbr="女子人数">女子人数</th>',
    ' </tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択1" class="spec"><%= @nameOfOption1.string %></th>',
    '<td><%= @option1.count %></td>',
    '<td><%= @maleOption1.count %></td>',
    '<td><%= @femaleOption1.count %></td>',
    '</tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択2" class="specalt"><%= @nameOfOption2.string %></th>',
    '<td class="alt"><%= @option2.count %></td>',
    '<td class="alt"><%= @maleOption2.count %></td>',
    '<td class="alt"><%= @femaleOption2.count %></td>',
    '</tr>');
        
    document.write('<tr>',
    '<th scope="row" abbr="選択３" class="spec"><%= @nameOfOption3.string %></th>',
    '<td><%= @option3.count %></td>',
    '<td><%= @maleOption3.count %></td>',
    '<td><%= @femaleOption3.count %></td>',
    '</tr>');
        
    document.write('<tr>',
    '<th scope="row" abbr="選択4" class="specalt"><%= @nameOfOption4.string %></th>',
    '<td class="alt"><%= @option4.count %></td>',
    '<td class="alt"><%= @maleOption4.count %></td>',
    '<td class="alt"><%= @femaleOption4.count %></td>',
    '</tr>');
  
    document.write('</table>');

<% elsif @nameOfOption3 != nil %>
  
    document.write('<table id="mytable" cellspacing="0" summary="質問の結果">',
    '<caption>質問の結果 </caption>');
    document.write('<tr>',
    '<th scope="col" abbr="Configurations" class="nobg">選択</th>',
    '<th scope="col" abbr="全体人数">全体人数</th>',
    '<th scope="col" abbr="男子人数">男子人数</th>',
    ' <th scope="col" abbr="女子人数">女子人数</th>',
    ' </tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択1" class="spec"><%= @nameOfOption1.string %></th>',
    '<td><%= @option1.count %></td>',
    '<td><%= @maleOption1.count %></td>',
    '<td><%= @femaleOption1.count %></td>',
    '</tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択2" class="specalt"><%= @nameOfOption2.string %></th>',
    '<td class="alt"><%= @option2.count %></td>',
    '<td class="alt"><%= @maleOption2.count %></td>',
    '<td class="alt"><%= @femaleOption2.count %></td>',
    '</tr>');
        
    document.write('<tr>',
    '<th scope="row" abbr="選択３" class="spec"><%= @nameOfOption3.string %></th>',
    '<td><%= @option3.count %></td>',
    '<td><%= @maleOption3.count %></td>',
    '<td><%= @femaleOption3.count %></td>',
    '</tr>');
  
    document.write('</table>');


<% else %>  
  
    document.write('<table id="mytable" cellspacing="0" summary="質問の結果">',
    '<caption>質問の結果 </caption>');
    document.write('<tr>',
    '<th scope="col" abbr="Configurations" class="nobg">選択</th>',
    '<th scope="col" abbr="全体人数">全体人数</th>',
    '<th scope="col" abbr="男子人数">男子人数</th>',
    ' <th scope="col" abbr="女子人数">女子人数</th>',
    ' </tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択1" class="spec"><%= @nameOfOption1.string %></th>',
    '<td><%= @option1.count %></td>',
    '<td><%= @maleOption1.count %></td>',
    '<td><%= @femaleOption1.count %></td>',
    '</tr>');
  
    document.write('<tr>',
    '<th scope="row" abbr="選択2" class="specalt"><%= @nameOfOption2.string %></th>',
    '<td class="alt"><%= @option2.count %></td>',
    '<td class="alt"><%= @maleOption2.count %></td>',
    '<td class="alt"><%= @femaleOption2.count %></td>',
    '</tr>');
          
    document.write('</table>');

<% end %>
  </script>
</div>


<script>
  
  opt1=<%= @option1.count %>
  opt2=<%= @option2.count %>
  opt3=<%= @option3.count %>
  opt4=<%= @option4.count %>  
  opt5=<%= @option5.count %>

  opt1s="<%= @nameOfOption1.string %>"
  opt2s="<%= @nameOfOption2.string %>"

<% if @nameOfOption5 != nil %>
  
    opt3s="<%= @nameOfOption3.string %>"
    opt4s="<%= @nameOfOption4.string %>"
    opt5s="<%= @nameOfOption5.string %>"


    $(document).ready(function(){
      // Make this a pie chart.
      var pie = pieGraphfunction5(opt1,opt2,opt3,opt4,opt5,opt1s,opt2s,opt3s,opt4s,opt5s)
    })

<% elsif @nameOfOption4 != nil %>
    opt3s="<%= @nameOfOption3.string %>"
    opt4s="<%= @nameOfOption4.string %>"
    opt5s=""

    $(document).ready(function(){
      // Make this a pie chart.
      var pie = pieGraphfunction4(opt1,opt2,opt3,opt4,opt1s,opt2s,opt3s,opt4s)
    })

<% elsif @nameOfOption3 != nil %>
    opt3s="<%= @nameOfOption3.string %>"
    opt4s=""
    opt5s=""

    $(document).ready(function(){
      // Make this a pie chart.
      var pie = pieGraphfunction3(opt1,opt2,opt3,opt1s,opt2s,opt3s)
    })

<% else %>  
    opt3s=""
    opt4s=""
    opt5s=""
  
    $(document).ready(function(){
      // Make this a pie chart.
      var pie = pieGraphfunction2(opt1,opt2,opt1s,opt2s)
    })

<% end %>
</script>
<br>

<script type="text/javascript">
  $(document).ready(function(){
    $('.demo1').slidePanel({role:'accordion'});
    $('.demo2').slidePanel({status:'open'});
    $('.demo3').slidePanel({status:'open'});
    //    $('.demo4').slidePanel({role:'accordion'});
  });						
</script>

<div style="width:600px">  

  <h3 class="demo1"><span class="str"><%= @nameOfOption1.string %></span>を選んだ人のコメント</h3>
  <div>  
    <br>
    <% @option1.each do |option1| %>
      <%if option1.comment!=""%>
        <% memberId= option1.member_id %>
         <div class="well2"><%= option1.comment %> 
         <span class="pull-right">By:<%=  @member_detail.find(:first, 
              :conditions => ['members.id = ?', memberId]).username %></span>
        </div>
      <%end%>
    <% end %>
  </div>

  <h3 class="demo1"><span class="str"><%= @nameOfOption2.string %></span>を選んだ人のコメント</h3>

  <div>
    <% @option2.each do |option2| %>
      <%if option2.comment!=""%>
        <% memberId= option2.member_id %>
         <div class="well2"><%= option2.comment %> 
         <span class="pull-right">By:<%=  @member_detail.find(:first, 
              :conditions => ['members.id = ?', memberId]).username %></span>
        </div>
      <%end%>
    <% end %>
  </div>

  <script>

<% if @nameOfOption5 != nil %>
  
    document.write('<h3 class="demo1"><span class="str"><%= @nameOfOption3.string %></span>を選んだ人のコメント</h3>',
    '<div>',
    '<% @option3.each do |option3| %>',
      '<%if option3.comment!=""%>',
        '<% memberId= option3.member_id %>',
        '<div class="well2"><%= option3.comment %>',
         '<span class="pull-right">By:<%=  @member_detail.find(:first,
        :conditions => ["members.id = ?", memberId]).username %></span>',
        '</div>',
        '<%end%>',
      '<% end %>'
    ,'</div>');

    document.write('<h3 class="demo1"><span class="str"><%= @nameOfOption4.string %></span>を選んだ人のコメント</h3>',
    '<div>',
    '<% @option4.each do |option4| %>',
      '<%if option4.comment!=""%>',
        '<% memberId= option4.member_id %>',
        '<div class="well2"><%= option4.comment %>',
         '<span class="pull-right">By:<%=  @member_detail.find(:first,
        :conditions => ["members.id = ?", memberId]).username %></span>',
        '</div>',
        '<%end%>',
      '<% end %>',
    '</div>');
 
    document.write('<h3 class="demo1"><span class="str"><%= @nameOfOption5.string %></span>を選んだ人のコメント</h3>',
    '<div>',
    '<% @option5.each do |option5| %>',
      '<%if option5.comment!=""%>',
        '<% memberId= option5.member_id %>',
        '<div class="well2"><%= option5.comment %>',
         '<span class="pull-right">By:<%=  @member_detail.find(:first,
        :conditions => ["members.id = ?", memberId]).username %></span>',
        '</div>',
        '<%end%>',
      '<% end %>',
    '</div>');

<% elsif @nameOfOption4 != nil %>

    document.write('<h3 class="demo1"><span class="str"><%= @nameOfOption3.string %></span>を選んだ人のコメント</h3>',
    '<div>',

    '<% @option3.each do |option3| %>',
      '<%if option3.comment!=""%>',
        '<% memberId= option3.member_id %>',
        '<div class="well2"><%= option3.comment %>',
         '<span class="pull-right">By:<%=  @member_detail.find(:first,
        :conditions => ["members.id = ?", memberId]).username %></span>',
        '</div>',
        '<%end%>',
      '<% end %>'
    ,'</div>');

    document.write('<h3 class="demo1"><span class="str"><%= @nameOfOption4.string %></span>を選んだ人のコメント</h3>',
    '<div>',
    '<% @option4.each do |option4| %>',
      '<%if option4.comment!=""%>',
        '<% memberId= option4.member_id %>',
        '<div class="well2"><%= option4.comment %>',
         '<span class="pull-right">By:<%=  @member_detail.find(:first,
        :conditions => ["members.id = ?", memberId]).username %></span>',
        '</div>',
        '<%end%>',
      '<% end %>',
    '</div>');

<% elsif @nameOfOption3 != nil %>

    document.write('<h3 class="demo1"><span class="str"><%= @nameOfOption3.string %></span>を選んだ人のコメント</h3>',
    '<div>',
    '<% @option3.each do |option3| %>',
      '<%if option3.comment!=""%>',
        '<% memberId= option3.member_id %>',
        '<div class="well2"><%= option3.comment %>',
         '<span class="pull-right">By:<%=  @member_detail.find(:first,
        :conditions => ["members.id = ?", memberId]).username %></span>',
        '</div>',
        '<%end%>',
      '<% end %>'
    ,'</div>');

<% end %>
  </script>

  <!--/demo2///////////////////////////--><br>

  <h3 class="demo2">男子の回答</h3>
  <div>
    <script>
  
      optMale1=<%= @maleOption1.count %>
      optMale2=<%= @maleOption2.count %>
      optMale3=<%= @maleOption3.count %>
      optMale4=<%= @maleOption4.count %>  
      optMale5=<%= @maleOption5.count %>

      opt1s="<%= @nameOfOption1.string %>"
      opt2s="<%= @nameOfOption2.string %>"

<% if @nameOfOption5 != nil %>
  
    opt3s="<%= @nameOfOption3.string %>"
    opt4s="<%= @nameOfOption4.string %>"
    opt5s="<%= @nameOfOption5.string %>"


    $(document).ready(function(){
      // Make this a pie chart.
      var pieMale = pieGraphfunctionMale5(optMale1,optMale2,optMale3,optMale4,optMale5,opt1s,opt2s,opt3s,opt4s,opt5s)
    })

<% elsif @nameOfOption4 != nil %>
    opt3s="<%= @nameOfOption3.string %>"
    opt4s="<%= @nameOfOption4.string %>"
    opt5s=""

    $(document).ready(function(){
      // Make this a pie chart.
      var pieMale = pieGraphfunctionMale4(optMale1,optMale2,optMale3,optMale4,opt1s,opt2s,opt3s,opt4s)
    })

<% elsif @nameOfOption3 != nil %>
    opt3s="<%= @nameOfOption3.string %>"
    opt4s=""
    opt5s=""

    $(document).ready(function(){
      // Make this a pie chart.
      var pieMale = pieGraphfunctionMale3(optMale1,optMale2,optMale3,opt1s,opt2s,opt3s)
    })

<% else %>  
    opt3s=""
    opt4s=""
    opt5s=""
  
    $(document).ready(function(){
      // Make this a pie chart.
      var pieMale = pieGraphfunctionMale2(optMale1,optMale2,opt1s,opt2s)
    })

<% end %>
    </script>

    <div id="chartDivMale" style="width:600px; height:450px;" /></div>

</div>


<!--/demo4///////////////////////////--><br>

<h3 class="demo3">女子の回答</h3>

<div>
  <script>
  
    optFemale1=<%= @femaleOption1.count %>
    optFemale2=<%= @femaleOption2.count %>
    optFemale3=<%= @femaleOption3.count %>
    optFemale4=<%= @femaleOption4.count %>  
    optFemale5=<%= @femaleOption5.count %>

    opt1s="<%= @nameOfOption1.string %>"
    opt2s="<%= @nameOfOption2.string %>"

<% if @nameOfOption5 != nil %>
  
    opt3s="<%= @nameOfOption3.string %>"
    opt4s="<%= @nameOfOption4.string %>"
    opt5s="<%= @nameOfOption5.string %>"


    $(document).ready(function(){
      // Make this a pie chart.
      var pieFemale = pieGraphfunctionFemale5(optFemale1,optFemale2,optFemale3,optFemale4,optFemale5,opt1s,opt2s,opt3s,opt4s,opt5s)
    })

<% elsif @nameOfOption4 != nil %>
    opt3s="<%= @nameOfOption3.string %>"
    opt4s="<%= @nameOfOption4.string %>"
    opt5s=""

    $(document).ready(function(){
      // Make this a pie chart.
      var pieFemale = pieGraphfunctionFemale4(optFemale1,optFemale2,optFemale3,optFemale4,opt1s,opt2s,opt3s,opt4s)
    })

<% elsif @nameOfOption3 != nil %>
    opt3s="<%= @nameOfOption3.string %>"
    opt4s=""
    opt5s=""

    $(document).ready(function(){
      // Make this a pie chart.
      var pieFemale = pieGraphfunctionFemale3(optFemale1,optFemale2,optFemale3,opt1s,opt2s,opt3s)
    })

<% else %>  
    opt3s=""
    opt4s=""
    opt5s=""
  
    $(document).ready(function(){
      // Make this a pie chart.
      var pieFemale = pieGraphfunctionFemale2(optFemale1,optFemale2,opt1s,opt2s)
    })

<% end %>
  </script>

  <div id="chartDivFemale" style="width:600px; height:450px;" /></div>

</div>

</div><!---->

<h4><%= link_to('トップへ戻る','/answers/index') %></h4>
<br>