
<h1>アンケート</h1>
<h2 class="well">アンケートページへようこそ！</h2>
<p><%= render :text => @member.username%>さんこんにちは！</p>

<p>ここに@listから取ってきて一覧を表示するよー</p>

<table class="table table-striped">

<tr><th>質問</th><th>はい</th><th>いいえ</th><th>投票</th></tr>

<% @questions.each do |question| %>
<tr><td><%= link_to  question.title , '/answers/show/'+question.id.to_s %></td>
<td>
<% k=0
@answer1.each do |answer1| 
  if question.id==answer1.question_id
    k = k+1
  end
end %><%= k %></td>
<td>
<% k=0
@answer2.each do |answer2|
  if question.id==answer2.question_id
    k=k+1
  end
end %><%= k %>
</td>
<td>
<% if Question.where(:id => question.id.to_s, :member_id => @user).exists? %>
あなたの質問に投票することはできません。
<% elsif Answer.where(:question_id => question.id.to_s, :member_id => @user).exists? %>
既に投票済みです。
<% else %>
<%= form_tag({ :action => 'acreate/'+question.id.to_s}) do %>
<%= hidden_field :answer, :question_id, { :value => question.id }%>
<%= hidden_field :answer, :member_id, { :value => @user } %>
<label><%= radio_button :answer, :ans, '1' %>はい</label>
<label><%= radio_button :answer, :ans, '2' %>いいえ</label>
<label>コメント<%= text_field :answer, :comment %></label>
<%# hidden_field :answer, :question_id, { :value => question.id } %>
<%# hidden_field :answer, :member_id, { :value => @member.id  } %>
<%= submit_tag '送信' %>
<% end %><%#if %>
<% end %> <%#form_tag %>
</td>
</tr>
<% end %>

</table>

<p><%= link_to('アンケートの新規作成','/answers/new') %></p>

<p><%= link_to 'ログアウト', [:destroy, :user_session], {:method => "delete"} %></p>
