
<h1>アンケート</h1>
<h2 class="well">アンケートページへようこそ！</h2>
<p><% if user_signed_in? %><%= @member.username%><% else %>ゲスト<% end %>さんこんにちは！</p>

<p>ここに@listから取ってきて一覧を表示するよ！</p>


<p class="right"><%= link_to('アンケートの新規作成','/answers/new') %></p>

<p class="right"><% if user_signed_in? %>
	<%= link_to 'ログアウト', [:destroy, :user_session], {:method => "delete"} %>
	<% else %>
	<%= link_to 'ログイン', [:new, :user_session] %>　<%= link_to '新規ユーザー登録', [:new, :user_registration]%>
	<% end %></p>


<table class="table table-striped">

<tr><th>質問</th><th>回答１</th><th>回答２</th><th>回答３</th><th>回答４</th><th>回答５</th><th>投票</th></tr>

<% @questions.each do |question| %>
<tr><td><%= link_to  question.title , '/answers/show/'+question.id.to_s %></td>
<% @option1 = @option1s.detect{|x| x.question_id == question.id} %>
<% @option2 = @option2s.detect{|x| x.question_id == question.id} %>
<% @option3 = @option3s.detect{|x| x.question_id == question.id} %>
<% @option4 = @option4s.detect{|x| x.question_id == question.id} %>
<% @option5 = @option5s.detect{|x| x.question_id == question.id} %>
<td>
	<% if @option1 != nil %>
	<%= @answer1.select{|x| x.question_id == question.id }.count %>
	<% else %>
	-
	<% end %></td>
<td>
	<% if @option2 != nil %>
	<%= @answer2.select{|x| x.question_id == question.id }.count %>
	<% else %>
	-
	<% end %></td>
<td>
	<% if @option3 != nil %>
	<%= @answer3.select{|x| x.question_id == question.id }.count %>
	<% else %>
	-
	<% end %></td>
<td>
	<% if @option4 != nil %>
	<%= @answer4.select{|x| x.question_id == question.id }.count %>
	<% else %>
	-
	<% end %></td>
<td>
	<% if @option5 != nil %>
	<%= @answer5.select{|x| x.question_id == question.id }.count %>
	<% else %>
	-
	<% end %></td>
<td>
<% if Question.where(:id => question.id.to_s, :member_id => @user).exists? %>
あなたの質問に投票することはできません。
<% elsif Answer.where(:question_id => question.id.to_s, :member_id => @user).exists? %>
既に投票済みです。
<% else %>
<%= form_tag({ :action => 'acreate/'+question.id.to_s}) do %>
<%= hidden_field :answer, :question_id, { :value => question.id }%>
<%= hidden_field :answer, :member_id, { :value => @user } %>
<% if @option1 != nil %>
<label><%= radio_button :answer, :ans, '1' %><%= @option1.string %></label>
<% end %>
<% if @option2 != nil %>
<label><%= radio_button :answer, :ans, '2' %><%= @option2.string %></label>
<% end %>
<% if @option3 != nil %>
<label><%= radio_button :answer, :ans, '3' %><%= @option3.string %></label>
<% end %>
<% if @option4 != nil %>
<label><%= radio_button :answer, :ans, '4' %><%= @option4.string %></label>
<% end %>
<% if @option5 != nil %>
<label><%= radio_button :answer, :ans, '5' %><%= @option5.string %></label>
<% end %>
<label>コメント<%= text_field :answer, :comment %></label>
<%# hidden_field :answer, :question_id, { :value => question.id } %>
<%# hidden_field :answer, :member_id, { :value => @member.id  } %>
<%= submit_tag '送信' %>
<% end %><%#if %>
<% end %> <%#form_tag %>
</td>
</tr>
<% end %>

</table>
