<h3 class="well">検索ページ</h3>

              <%= form_tag({ :controller => "answers", :action => "search"}, { :method => :get}) do %>
              <%= text_field_tag :keywd, '', {:size => 25, :placeholder => @message}%>で検索
              <% end %>


<% if @questions != nil %>

<table class="table table-striped">

<tr><th>質問</th><th>投票</th></tr>

<% @questions.each do |question| %>
<tr><td>
    <h4><%= link_to  question.title , '/answers/detail/'+question.id.to_s %></h4>
    <h6><%= question.text   %></h6>
    </td>

    
    <% @option1 = @option1s.detect{|x| x.question_id == question.id} %>
<% @option2 = @option2s.detect{|x| x.question_id == question.id} %>
<% @option3 = @option3s.detect{|x| x.question_id == question.id} %>
<% @option4 = @option4s.detect{|x| x.question_id == question.id} %>
<% @option5 = @option5s.detect{|x| x.question_id == question.id} %>
<td>
<% if user_signed_in? and Question.where(:id => question.id.to_s, :member_id => @member.id).exists?  %>
あなたの質問に投票することはできません。
<% elsif user_signed_in? and Answer.where(:question_id => question.id.to_s, :member_id => @member.id).exists? %>
既に投票済みです。
<% else %>
<%= form_tag({ :action => 'acreate/'+question.id.to_s}) do %>
<%= hidden_field :answer, :question_id, { :value => question.id }%>
<%= hidden_field :answer, :member_id, { :value => @member.id } if user_signed_in?%>
<% if @option1 != nil %>
<label><%= radio_button :answer, :ans, '1' %><%= @option1.string %></label>
<% end %>
<% if @option2 != nil %>
<label><%= radio_button :answer, :ans, '2' %><%= @option2.string %></label>
<% end %>
<% if @option3 != nil %>
<label><%= radio_button :answer, :ans, '3' %><%= @option3.string %></label>
<% end %>
<% if @option4 != nil %>
<label><%= radio_button :answer, :ans, '4' %><%= @option4.string %></label>
<% end %>
<% if @option5 != nil %>
<label><%= radio_button :answer, :ans, '5' %><%= @option5.string %></label>
<% end %>
<label>コメント<%= text_field :answer, :comment %></label>
<%# hidden_field :answer, :question_id, { :value => question.id } %>
<%# hidden_field :answer, :member_id, { :value => @member.id  } %>
<%= submit_tag '送信' %>
<% end %><%#if %>
<% end %> <%#form_tag %>
</td>
</tr>
<% end %>

</table>

<% else %>

<p>一致する情報は見つかりませんでした。</p>
<% end %>

<p><%= link_to("トップへ戻る","/answers/index") %></p>