<h1>各アンケートのページ</h1>
<h2>各アンケートの集計結果載せるよー</h2>

<div>
	<div class="floatleft">
		<h3>質問：<%= @question.title %></h3>
		<p><%= simple_format(@question.text) %></p>
		<p>質問者：<%= @questioner.username  %></p>
		<p>カテゴリー：<%= @category.name %></p>
	</div>
	<div class="floatright">
		<p style="font-size:24px;margin-top:50px;margin-right:150px;background-color:#ffccff"><%= link_to '次の質問に答える', '/answers/index' %></p>
	</div>
	<div class="clear"><hr /></div>  
</div>


<script>
  
  opt1=<%= @option1.count %>
  opt2=<%= @option2.count %>
  opt3=<%= @option3.count %>
  opt4=<%= @option4.count %>  
  opt5=<%= @option5.count %>

  opt1s="<%= @nameOfOption1.string %>"
  opt2s="<%= @nameOfOption2.string %>"
  
  <% if @nameOfOption5 != nil %>
  
  opt3s="<%= @nameOfOption3.string %>"
  opt4s="<%= @nameOfOption4.string %>"
  opt5s="<%= @nameOfOption5.string %>"


  $(document).ready(function(){
    // Make this a pie chart.
    var pie = pieGraphfunction5(opt1,opt2,opt3,opt4,opt5,opt1s,opt2s,opt3s,opt4s,opt5s)
  })
  
  <% elsif @nameOfOption4 != nil %>
  opt3s="<%= @nameOfOption3.string %>"
  opt4s="<%= @nameOfOption4.string %>"
  opt5s=""

  $(document).ready(function(){
    // Make this a pie chart.
    var pie = pieGraphfunction4(opt1,opt2,opt3,opt4,opt1s,opt2s,opt3s,opt4s)
  })
  
  <% elsif @nameOfOption3 != nil %>
  opt3s="<%= @nameOfOption3.string %>"
  opt4s=""
  opt5s=""

  $(document).ready(function(){
    // Make this a pie chart.
    var pie = pieGraphfunction3(opt1,opt2,opt3,opt1s,opt2s,opt3s)
  })
  
  <% else %>  
  opt3s=""
  opt4s=""
  opt5s=""
  
  $(document).ready(function(){
    // Make this a pie chart.
    var pie = pieGraphfunction2(opt1,opt2,opt1s,opt2s)
  })
  
  <% end %>
</script>

<div id="chartDiv1" style="width:600px; height:400px;" /></div>

	<p>
		<% if @nameOfOption1 != nil %>
		「<%= @nameOfOption1.string %>」を選んだ人数：<%= @option1.count %> 
		<% end %>
		<% if @nameOfOption2 != nil %>
		「<%= @nameOfOption2.string %>」を選んだ人数：<%= @option2.count %> 
		<% end %>
		<% if @nameOfOption3 != nil %>
		「<%= @nameOfOption3.string %>」を選んだ人数：<%= @option3.count %> <br>
		<% end %>
		<% if @nameOfOption4 != nil %>
		「<%= @nameOfOption4.string %>」を選んだ人数：<%= @option4.count %> 
		<% end %>
		<% if @nameOfOption5 != nil %>
		「<%= @nameOfOption5.string %>」を選んだ人数：<%= @option5.count %> 
		<% end %>
	</p>

<p><%= link_to('詳細を見る','/answers/detail/'+@question.id.to_s) %></p>
<p><%= link_to '戻る', '/answers/index' %></p>

;