<h1>各アンケートのページ</h1>
<h2>各アンケートの集計結果載せるよー</h2>
<p>質問：<%= @question.title %></p>
<p>説明：<%= @question.text %></p>
<p>質問者：<%= @questioner.username  %></p>
<p>カテゴリー：<%= @category.name %></p>
<p>円グラフ<br>
てかとりあえず、<br>
「回答１」を選んだ人数：<%= @option1.count %><br>
「回答２」を選んだ人数：<%= @option2.count %></p>
「回答３」を選んだ人数：<%= @option3.count %></p>
「回答４」を選んだ人数：<%= @option4.count %></p>
「回答５」を選んだ人数：<%= @option5.count %></p>

<p><%= link_to('詳細を見る','/answers/detail/'+@question.id.to_s) %></p>

<%= link_to '戻る', '/answers/index' %>
