<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Lemon" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "/css/design", :media => "all" %>
    <%= stylesheet_link_tag "/css/jquery.jqplot", :media => "all" %>
    <%= stylesheet_link_tag "/css/jquery.jqplot.min", :media => "all" %>
    <%= stylesheet_link_tag "/css/slidingpanels", :media => "all" %>


    <%= javascript_include_tag "/javascripts/pieGraph" %>
    <%= javascript_include_tag "/javascripts/pieGraphByMale" %>
    <%= javascript_include_tag "/javascripts/pieGraphByFemale" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/javascripts/jquery-1.7.2.min" %>  
    <%= javascript_include_tag "/javascripts/jquery.slidepanel.pack" %>

    <%= javascript_include_tag "/jquery/jquery.min" %>
    <%= javascript_include_tag "/jquery/jquery" %>
    <%= javascript_include_tag "/jquery/jquery-1.7.2.min" %>
    <%= javascript_include_tag "/jquery/jquery.jqplot.min" %>
    <%= javascript_include_tag "/jquery/jquery.jqplot" %>
    <%= javascript_include_tag "/jqplot/jqplot.dateAxisRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.canvasTextRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.canvasAxisTickRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.categoryAxisRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.barRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.pieRenderer" %>
    <%= javascript_include_tag "/jqplot/jqplot.pieRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.canvasTextRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.canvasAxisLabelRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.logAxisRenderer" %>
    <%= javascript_include_tag "/jqplot/jqplot.highlighter.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.cursor.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.dateAxisRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.enhancedLegendRenderer" %>
    <%= javascript_include_tag "/jqplot/jqplot.barRenderer" %>
    <%= javascript_include_tag "/jqplot/jqplot.categoryAxisRenderer" %>
    <%= javascript_include_tag "/jqplot/jqplot.canvasTextRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.canvasAxisLabelRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.pieRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.donutRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.barRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.categoryAxisRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.pointLabels.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.dateAxisRenderer.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.highlighter.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.cursor.min" %>
    <%= javascript_include_tag "/jqplot/jqplot.dateAxisRenderer.min" %>
    <%= javascript_include_tag "/javascripts/jquery.slidepanel.pack" %>
    <%= stylesheet_link_tag "/css/slidingpanels", :media => "all" %>





    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/answers">Lemon</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <% if user_signed_in? %>
                <li><%= link_to "アンケート作成", "/answers/new" %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path %></li>
              <% else %>
                <li><%= link_to image_tag("/images/facebookLoginLogo.jpg",:size=>"30x30",:alt=>"lemonLogo画像")+'Log in', user_omniauth_authorize_path(:facebook)  %></li>
                <li><%= link_to image_tag("/images/twitterLoginLogo.jpg",:size=>"30x30",:alt=>"lemonLogo画像")+'Log in', user_omniauth_authorize_path(:twitter)  %></li>
              <% end %>
            </ul>

            <% if false %>
              <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
              </form>
            <% end %>
            <%= form_tag({ :controller => "answers", :action => "search"}, { :method => :get, :class => "navbar-search pull-right"}) do %>
              <%= text_field_tag :keywd, '', {:size => 25, :class => "search-query", :placeholder => "Search"}%>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span9">
            <%= yield %>
          </div>
          <div class="span3">
            <div class="well sidebar-nav">
              <h6>Lemon</h6>
              <ul class="nav nav-list">
                <%#*<li class="nav-header">Lemon</li>%>
                <% if user_signed_in? %>
                  <li><%= link_to "アンケート作成", "/answers/new" %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path %></li>
                <% else %>
                  <li><%= link_to image_tag("/images/facebookLoginLogo.jpg",:size=>"30x30",:alt=>"lemonLogo画像")+'Log in', user_omniauth_authorize_path(:facebook)  %></li>
                  <li><%= link_to image_tag("/images/twitterLoginLogo.jpg",:size=>"30x30",:alt=>"lemonLogo画像")+'Log in', user_omniauth_authorize_path(:twitter)  %></li>
                <% end %>
              </ul>
            </div><!--/.well -->
            <div class="well sidebar-nav">
              <h6 class="nav-header">人気の質問に答えよう！</h6>
              <div class="well2">
                <h4>1位:<%= @popQ1.title %></h4>
                <%= form_tag({ :action => 'acreate/'+@popQ1.id.to_s}) do %>
                  <%= hidden_field :answer, :question_id, { :value => @popQ1.id }%>
                  <%if user_signed_in?%>
                    <%= hidden_field :answer, :member_id, { :value => @member.id } %>
                  <%end%>
                  <% @popOp1.each do |popOp|%>
                    <label class="radio"><%= radio_button :answer, :ans, popOp.order.to_s %><%= popOp.string %></label>
                  <% end %>
                  <% if false %>
                    <label>コメント<%= text_field :answer, :comment, :size => 40 %></label>
                  <% end %>
                  <%= submit_tag '送信' %>
                <% end %> <%#form_tag %>

              </div>
              <div class="well2">

                <h4>2位:<%= @popQ2.title %></h4>
                <%= form_tag({ :action => 'acreate/'+@popQ2.id.to_s}) do %>
                  <%= hidden_field :answer, :question_id, { :value => @popQ2.id }%>
                  <%if user_signed_in?%>
                    <%= hidden_field :answer, :member_id, { :value => @member.id } %>
                  <%end%>
                  <% @popOp2.each do |popOp|%>
                    <label class="radio"><%= radio_button :answer, :ans, popOp.order.to_s %><%= popOp.string %></label>
                  <% end %>
                  <% if false %>
                    <label>コメント<%= text_field :answer, :comment, :size => 40 %></label>
                  <% end %>
                  <%= submit_tag '送信' %>
                <% end %> <%#form_tag %>
              </div>
              <div class="well2">
                <h4>3位:<%= @popQ3.title %></h4>
                <%= form_tag({ :action => 'acreate/'+@popQ3.id.to_s}) do %>
                  <%= hidden_field :answer, :question_id, { :value => @popQ3.id }%>
                  <%if user_signed_in?%>
                    <%= hidden_field :answer, :member_id, { :value => @member.id } %>
                  <%end%>
                  <% @popOp3.each do |popOp|%>
                    <label class="radio"><%= radio_button :answer, :ans, popOp.order.to_s %><%= popOp.string %></label>
                  <% end %>
                  <% if false %>
                    <label>コメント<%= text_field :answer, :comment, :size => 40 %></label>
                  <% end %>
                  <%= submit_tag '送信', :class => ".form_actions" %>
                <% end %> <%#form_tag %>
                <div>
                </div>

              </div><!--/span-->
            </div><!--/row-->
          </div><!--/content-->
          <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
              <footer class="container">
                <p class="pull-right">&copy; VN 2012</p>
              </footer>
            </div>
          </div>
        </div> <!-- /container -->

        <!-- Javascripts
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        </body>
        </html>
